<h1>Listing Messages</h1>
<br>
<% @messages.each do |message| %>
    <table width="580">
      <tr>
        <td><%= message.updated_at.strftime("%b %d, %y") %></td>
        <td><h1><%= message.email %></h1></td>
      </tr>
      <tr>
        <td><%if !message.read%><p>New!!</p><%end%></td>
        <td colspan="3"><%= truncate(message.message, :length => 55)%></td>
      </tr>
      <tr>
        <td><%= link_to 'Read', message %></td>
        <td><%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    </table>
    <br/>
<% end %>