<table width="580">
  <tr>
    <td><%= @message.updated_at.strftime("%b %d, %y") %></td>
    <td><h1><%= @message.email %> wrote:</h1></td>
  </tr>
  <tr>
    <td colspan="3"><%= @message.message %></td>
  </tr>
  <tr>
    <td><%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>

<%= link_to 'Back to all messages', messages_path %>
