<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being created:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <br>user<%= f.text_field :user_id, value: current_user.id%>
    <br>article<%= f.text_field :article_id, value: params[:id]%>

    <div class="field">
      <%= f.label :entry %>
      <br/>
      <%= f.text_area :entry %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
