<h1><%= @article.title %></h1>

<p>
  <%= simple_format @article.text %>
</p>

<a><div id="show_comments"><p>Show Comments</p></div></a>
<div id="article_comments">
  <table>
    <% @article.comments.each do |comment| %>
    <tr>
      <td>
        <%= comment.user.email %>
      </td>
      <td>
        <%= comment.entry %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div id="add_comment"><%= link_to "Add Comment", new_comment_path(@article)%></div>






