<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :title %>
	<br />
	<%= f.text_field :title, :class => "titlefield" %>
</div>
<br />
<div class="post">
	<%= f.label :entry %>
	<br />
	<%= f.text_area :entry, :class => "entryfield" %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="jquery.autoresize.js"></script>
<script>
$('.entryfield').autoResize({
	onBeforeResize: function(){
		console.log('Before');
		$(this).css('background', 'red');
	},
	onAfterResize: function(){
		console.log('After');
		$(this).css('background', '');
	}
});

</script>

<% end %>