<div id="sidebar">
	<ul>
		<!--<li id="search">
		<h2>Search</h2>
		<form method="get" action="">
		<fieldset>
		<input type="text" id="search-text" name="s" value="" />
		<input type="submit" id="search-submit" value="Search" />
		</fieldset>
		</form>
		</li>
		-->
		<li>
			<h2>Some Links</h2>
			<ul>
				<li>
					<%= link_to "Visit my kitties", "http://www.ding.net/bonsaikitten/index.html"%>
				</li>
				<li>
					<%= link_to "Learn ancient secrets", "http://www.thesecretofinvisibility.com/"%>
				</li>
				<li>
					<%= link_to "Buy some garbage", "www.ebay.com"%>
				</li>
				<li>
					<%= link_to "Elvis on the moon", "http://www.ghost-pictures.org/elvis-ghost-photos-moon-1.htm"%>
				</li>
				<li>
					<%= link_to "Elvis on the moon", "http://www.ghost-pictures.org/elvis-ghost-photos-moon-1.htm"%>
				</li>
			</ul>
		</li>
	</ul>
</div>
